@using Market_Web.Pages
@using Market_Web.Models
@model Market_Web.Pages.LoginModel
@{
    ViewData["Title"] = "Home page";
}
<head>
    <link rel="stylesheet" type="text/css" href=~/css/siteStyle.css />
    <link rel="stylesheet" type="text/css" href=~/css/authStyle.css />
</head>
<body>
    <div class="all">
        <div class="container-my">
            <div class="authorization" id="gameAuthorization">
                <div class="box-name">
                    <button type="button" id="printAuthButton" class="authButtonTop">Войти</button>
                    <button type="button" id="printRegButton" class="regButtonTop">Регистрация</button>
                    <article class=@((Model!=null)&&(Model.Error==Errors.ErrorInReg) ? "displayNone" : "column") id="authArticle">
                        <p>Войти</p>
                        @using (Html.BeginForm("Login", "Home", FormMethod.Post))
                        {
                            <input type="text" id="authName" name="authName" class="authInput" placeholder="Введите ваше имя" required />
                            <input type="password" id="authPass" name="authPass" class="authInput" placeholder="Введите пароль" required password />
                            @if ((Model != null) && (Model.Error == Errors.ErrorInAuth))
                            {
                                <p class="ErrorMessage">@Model.ErrorMessage</p>
                            }
                            <input type="submit" class="authButton" value="Войти" /> 
                        }
                    </article>
                    <article class=@((Model!=null)&&(Model.Error==Errors.ErrorInReg) ? "column" : "displayNone") id="regArticle">
                        <p>Регистрация</p>
                        @using (Html.BeginForm("Registration", "Home", FormMethod.Post))
                        {
                            <input type="text" id="regName" name="regName" class="authInput" placeholder="Введите ваше имя" required />
                            <input type="password" id="regPass" name="regPass" class="authInput" placeholder="Введите пароль" required />
                            <input type="password" id="regPassRepeat" name="regPassRepeat" class="authInput" placeholder="Повторите пароль" required />
                            @if ((Model != null) && (Model.Error == Errors.ErrorInReg))
                            {
                                <p class="ErrorMessage">@Model.ErrorMessage</p>;
                            }
                            <input type="submit" class="authButton" value="Зарегистрироваться" />
                        }
                    </article>
                </div>
            </div>
        </div>
    </div>
    <script src="~/js/login.js"></script>
</body>